
.wrap {
  width: 70%;
  margin: 2vw auto;
}  

h3 {
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  input[type="text"] {
    width: 20%;
    margin-bottom: 0;
    margin-left: 1em;
  }
  input:first-of-type {
    margin-left: 0em;
    width: 40%;
  }
  
  .form-button { 
    width: 20%;
    font-size: 0.875rem; 
    padding: 10.5px 2vw; 
    margin-left: 1em;
    margin-bottom: 0;
  }
}
  
table {
  width: 100%;
}
  
@media (max-width: 480px) {
  .wrap {
    width: 95%;
  }
  form {
    display: block;
    
    input[type="text"], input[type="date"], .form-button {
    min-width: 100%;
    margin-left: 0;
    margin-bottom: .5em;
  }
  }
  
}

.book {
    border: 0.5pt solid black; 
  
}

.book>a {
    display: block;
    color: inherit;
    text-decoration: inherit;
    padding-left: 1rem;
    padding-right: 1rem;
}

.book+.book {
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}


html {height:100%}
body {background: rgba(84,77,138); 
display:table; 
height:100%; 
width:100%;}
*, div, ul, li, p, span {
-webkit-box-sizing:border-box; 
box-sizing:border-box; 
font-family: 'Open Sans', Helvetica; 
font-weight:300; font-size:14px;}
#wrapper {display:table-cell; 
vertical-align:top; 
text-align:center; 
padding:50px;}
.clear {display:block; float:none;}
.clear:before, .clear:after {content:''; 
display:block; clear:both;}
form, #results {max-width:700px; 
margin: 0 auto; 
clear:both;}
input, button {height: 50px; 
line-height:1; 
background:none; 
border:0;
float:left; 
margin:0; 
outline:none;}
input {width:80%;
background:#ffffff; 
padding: 0 10px;}
button {width:20%;
background:rgba(155,103,246,0.5); 
color:#ffffff; 
font-weight:bold; 
text-transform:uppercase; 
cursor:pointer;}
button:hover {background:rgba(155,103,246,0.3);}

#results {display:block; margin-top:20px;}
#results li {line-height: 1.5; 
text-align:left; 
background: rgba(155,103,246,0.2); 
margin-bottom:20px; 
color: #ffffff;}

.book .book-cover {width:10%; float:left}
.book .book-meta {width:90%; float:left; padding: 20px;}

.book .book-cover img {width:100%; display:block;}
.book .book-meta span {display:block;}
.book .book-meta .book-title {font-size:1.5em;
 margin-bottom:5px; 
 width:100%;
 text-overflow:ellipsis; 
 overflow:hidden; 
 white-space:nowrap;}
.book .book-meta .book-author {font-size:1em;}
